ion-input {
    --color: var(--ion-color-secondary);  /* Cambia a cualquier color que desees */
}
    
form{
    max-width: 1000px;
    margin: 0 auto;
}
    
    
ion-img{
    width: 200px !important;
    margin: 10px;
    display: inline-block;
}
  
.sc-ion-input-md-h{
    --border-color: var(--ion-color-secondary);
}

ion-list{
    background-color: var(--ion-color-light);
    max-width: 200px;
}

ion-item{
    --background: var(--ion-color-light);
}