ion-input {
  --color: var(--ion-color-secondary);  /* Cambia a cualquier color que desees */
}
  
form{
  max-width: 1000px;
  margin: 0 auto;
}

.sc-ion-input-md-h{
  --border-color: var(--ion-color-secondary);
}
  
ion-select{
  color: var(--ion-color-secondary);
}

